form {
  border: 1.5em;
  border-style: solid;
  border-color: grey;
  border-spacing: 3em;
  background-color: grey;
  border-radius: 25px;
  padding: 10px;
  display: grid;
  align-content: center;

}

.feedback-input {
  border-radius: 5px;
  line-height: 20px;
  background-color: grey;
  border: 5px solid;
  border-color: #9bcc66;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;

}

.feedback-input:focus {
  border: 5px solid;
  border-color: cadetblue;
}

textarea {
  height: 150px;
  line-height: 150%;
}

[type="submit"] {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  background: #9bcc66;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -4px;
  font-weight: 500;
}

[type="submit"]:hover {
  background: cadetblue;
}

.wrapper2 {
  margin: auto;
  margin-top: 10%;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 50%;
  padding: 1.3em;
  grid-gap: 2em;
  align-content: center;
  align-content: space-between;
  width: 90%;
}

.bigtext {
  width: 200px;
  height: 160px;
  border: 1.5em;
  border-style: solid;
  border-color: grey;
  border-spacing: 3em;
  background-color: grey;
  display: inline;
  border-radius: 25px;
  padding: 20px;
  align-content: justify;
  text-align: justify;
}

iframe {
  border-radius: 10%;
  display: grid;
  align-content: center;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

