img {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

p {
    border: 1.5em;
    border-style: solid;
    border-color: grey;
    border-spacing: 2em;
    background-color: grey;
    display: inline;
    border-radius: 50%;
}

.centreimage {
    margin: auto;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 50%;
    padding: 1.3em;
    grid-gap: 2em;
    align-content: center;
    width: 50%;

}

.bigtext {
    width: 300px;
    height: 300px;
    border: 1.5em;
    border-style: solid;
    border-color: grey;
    border-spacing: 3em;
    background-color: grey;
    display: inline;
    border-radius: 25px;
    padding: 20px;
    align-content: justify;
    text-align: justify;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

