ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(160, 235, 141);
}

.active {
    background-color: cadetblue;
}




body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/backgroundindex.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;

}

ul a {
    color: white;

}



.template img {
    border-radius: 50%;


}

.template {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45%;
}

.textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    height: 50%;

}

p {
    border: 1.5em;
    border-style: solid;
    border-color: grey;
    border-spacing: 3em;
    background-color: grey;
    display: inline;
    border-radius: 25px;
    padding: 20px;

}

.wrapper {
    margin: auto;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 50%;
}

